body *{
    font-family: 'Lato', sans-serif;
}

body, html {
    overflow-x: hidden;
}

h1 {
    font-weight: 750;
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px 5px 20px 5px;
    border: 2px solid #ccc;
    border-radius: 10px;
    width: 100%;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 0px;
}

body {
    background-color: rgb(225,241,253);
}

.page {
    max-width: 1305px;
    background-color: rgb(225,241,253);
    margin: auto;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 8px;
    padding-bottom: 2px;
}

.vis-container {
    align-self: left;
    width: 800px;
    margin: 0 auto;
    height: auto;
}

.description {
    width: 100%;
}

h2 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 0px;
}

h3 {
    font-size: 16px;
    font-weight: 650;
    margin-top: 4px;
}

p {
    font-size: 18px;
    margin-top: 0px;
}

h6 {
    font-size: 13px;
    font-weight: 500;
}

.description-right {
    padding-left: 20px;
}

.description-left {
    padding-right: 20px;
}

.pure-g {
    margin-bottom: 15px;
}

.small-font {
    font-size: 14px;
}

.footer-font {
    font-size: 10px;
    margin-bottom: 0px;
}
